<div *ngIf="user" class="profile-card">
  <div class="profile-header">
    <h2 class="profile-title">Profilom</h2>
  </div>

  <div class="profile-details">
    <div class="profile-item">
      <span class="profile-label">Név:</span>
      <span class="profile-value">{{ user.name }}</span>
    </div>

    <div class="profile-item">
      <span class="profile-label">Email:</span>
      <span class="profile-value">{{ user.email }}</span>
    </div>

    <div class="profile-item">
      <span class="profile-label">Kapcsolattarto:</span>
      <span class="profile-value">{{ user.ambassador }}</span>
    </div>

    <div class="profile-item">
      <span class="profile-label"> Kód:</span>
      <span class="profile-value">{{ user.taxnum }}</span>
    </div>

    <div class="profile-item">
      <span class="profile-label">Cím:</span>
      <span class="profile-value">{{ user.address }}</span>
    </div>

  </div>
</div>

<div class="edit-btn-container">
  <a routerLink="/adjust" style="text-decoration: none;">
    <button class="edit-btn">
      <i class="fas fa-edit"></i>
      Adatok módosítása
    </button>
  </a>
</div>

